* {
    box-sizing: border-box;
}

.parent {
    margin: 20px auto;
    background: #ddd;
    color: white;
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;
}
.parent div{
    background-color: yellowgreen;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.r1 {
    background-color: red;
}